/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.top-text{
	margin: 33px 0;
	padding-left: 33px;
}
.top-link{
	padding-left: 33px;
}

body{
	margin: 33px;
	background-color: white;
    color: #333;
    font-size: 13px;
    line-height: 18px;
}
.flash{
	color: green;
	margin-left: 33px;
}

h1{
	font-size: 26px;
	font-weight: bold;
	margin: 17px 0;
}
table{
	border-spacing: 2px;
}
th{
	padding: 5px;
}
td{
	padding-bottom: 5px;
	padding-right: 10px;
}
a{
	color: black;
}
h2{
	font-weight: bold;
	font-size: 19px;
	margin: 19px 0;
}

.show-headline{
	margin: 33px;
}

